$mainBackgroundColor: #F6F6F6;
$cardBackgroundColor: white;
$mainComponBackGroundColor: #26A5FD;
$secondBackgroundColor: #10D3DE;

/* Font Size */

$baseFontSize: 14;

/* Font color */

$mainFontColor: #3C3939;
$grayFontColor: #C5C5C5;


/* border color variable*/

$borderColor: #979797;



/* Header variable */

$headerHeight: 2.2rem;

