@import '../../common/css/variable.scss';
.userInfo{
  width:18.75rem;
  height:30.15rem;
  .headerImg{
    height: 2rem;
    img{
        width:2rem;
        height:2rem
    }
  }
  .div_magin{
    margin-top: 1rem;
  }
  .mint-cell{
    height: 2.35rem;
  }
}
