@import '../../../common/css/variable.scss';

.allergic {
  width: 18.75rem;
  background: #F6F6F6;
  .isAllergic {
    height: 3rem;
    width: 100%;
    vertical-align: middle;
    background: #FFFFFF;
    .isAllergic_text {
      float: left;
      width: 6rem;
      height: 1.05rem;
      font-size: 0.75rem;
      font-family: PingFangSC-Regular;
      color: rgba(51, 51, 51, 1);
      line-height: 1.05rem;
      margin-top: 1rem;
      margin-left: 1rem;
    }
    .isAllergic_switch {
      float: right;
      margin-top: 1rem;
      margin-right: 1rem;
      width: 2.5rem;
      height: 1.5rem;
      .mint-switch {
        width: 2.4rem !important;
        height: 1.2rem !important;
        background: rgba(96, 194, 230, 1) !important;
        border-radius: 0.6rem !important;
      }
    }
  }
  .line {
    margin: auto 1rem;
    width: 17.15rem;
    height: 0.05rem;
    background: rgba(245, 245, 245, 1);
  }

  .choose {
    height: 7.6rem;
    background: #FFFFFF;
    .chooseItems {
      width: 7.2rem;
      height: 3rem;
      font-size: 0.6rem;
      font-family: PingFangSC-Regular;
      color: rgba(153, 153, 153, 1);
      line-height: 3rem;
      margin: 0rem 11rem 0 1rem;
    }
    .items_div {
      display: inline-block;
      width: 2.7rem;
      height: 1.6rem;
      border-radius: 0.8rem;
      border: 0.05rem solid rgba(50, 182, 230, 1);
      text-align: center;
      line-height: 1.6rem;
      margin-left: 1rem;
      margin-top: 1rem;
      .items_text {
        width: 1.5rem;
        height: 1.05rem;
        font-size: 0.75rem;
        font-family: PingFangSC-Regular;
        color: #32B6E6;
        line-height: 1.05rem;
      }
    }

    .items_div_active {
      display: inline-block;
      width: 3.45rem;
      height: 1.6rem;
      background: rgba(50, 182, 230, 1);
      border-radius: 0.8rem;
      text-align: center;
      line-height: 1.6rem;
      margin-left: 1rem;
      margin-top: 1rem;
      .items_text_active {
        width: 2.25rem;
        height: 1.05rem;
        font-size: 0.75rem;
        font-family: PingFangSC-Medium;
        color: #FFFFFF;
        line-height: 1.05rem;
      }
    }

  }
  footer {
    height: 2.5rem;
    bottom: 0;
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 10;
    button {
      width: 100%;
      text-align: center;
      font-size: .8rem;
      color: white;
      &.cancel {
        background: #B8BDC2;
      }
      &.confirm {
        background: $mainComponBackGroundColor;
        &:active {
          background: #2087D0;
        }
      }
    }
  }
}
