.page{
  width: 18.75rem;
  height: 22.35rem;
  border-radius:0.4rem 0.4rem 0rem 0rem;
  .header{
    height: 4.35rem;
    width: 18.75rem;
    text-align: center;
    border-bottom: 0.05rem solid #F5F5F5;
    .header_1{
      height: 2.15rem;
      font-size:0.9rem;
      font-family:PingFangSC-Medium;
      color:rgba(66,66,66,1);
      line-height:2.15rem;
    }
    .header_2{
      height:1.1rem;
      font-size:0.7rem;
      font-family:PingFangSC-Regular;
      color:rgba(92,92,92,1);
      line-height:1.1rem;
    }
  }
  .body{
    width: 18.75rem;
    height: 15.75rem;
    overflow: hidden;
    .body_1{
      width: 3.8rem;
      height: 4.3rem;
      padding-top: 0.8rem;
      margin-left: 0.8rem;
      float: left;
      text-align: center;
      .img1{
        width: 2.4rem;
        height: 2.4rem;
        margin-left: 0.4rem;
      }
      .body_11{
        height:0.85rem;
        font-size:0.6rem;
        font-family:PingFangSC-Regular;
        color:rgba(102,102,102,1);
        line-height:0.85rem;
      }
    }
  }
  .bottom{
    height: 2.2rem;
    width: 18.75rem;
    .bottom_1{
      width: 9.4rem;
      height: 2.2rem;
      color:#FFFFFF;
      background-color: #10D6E2;
      float: left;
      text-align: center;
      font-size: 0.7rem;
      line-height: 2.2rem;
    }
    .bottom_2{
      background-color: #26A6FF;
      color: #FFFFFF;
      height: 2.2rem;
      text-align: center;
      line-height: 2.2rem;
      font-size: 0.7rem;
    }
  }
}
