@import '../../../common/css/variable.scss';
.search-device-page{
  background: #ffffff;
  .popup-model{
    display: flex;
    .mint-popup{
      height:6.75rem;
      width:13.5rem;
      padding:0;
      .popup-img{
        width:2.1rem;
        height:2.1rem;
        border-radius: 2.1rem;
        background: #26A5FD;
        color:#ffffff;
        align-self: center;
        margin: 0 auto;
        display: flex;
        i{
          font-size: 1.25rem;
          margin: 0 auto;
          align-self: center;
        }
        .popup-size{
          font-size: .95rem;
        }
      }
      .concat-pad{
        margin-top:1.50075rem;
      }
      .popup-bg{
        background: #10D3DE;
        margin-top:1.50075rem;
      }
      .popup-tip{
        font-family: PingFangSC-Regular;
        font-size: .8rem;
        color: #333333;
        text-align: center;
        margin-top: .6003rem;
      }
    }
  }
  .white-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background: #FFFFFF;
  }
  .content{
    padding:4.675rem .675rem 0 .675rem;
    .start-tip{
      font-family: PingFangSC-Regular;
      font-size: 1.2rem;
      color: #333333;
      text-align: center;
    }
    .start-tip2{
      font-family: PingFangSC-Light;
      font-size: .7rem;
      color: #5C5C5C;
      text-align: center;
      margin-top:.5rem;
    }
    img{
      margin-top: 2rem;
    }
    .cancel{
      text-align: center;
      font-family: PingFangSC-Regular;
      font-size: .6rem;
      color: #587C96;
      border: 1px solid #C4D1DA;
      border-radius: 30px;
      width:4.85rem;
      height:1.45rem;
      line-height: 1.45rem;
      margin: 2.4rem auto 2.4rem auto;
    }
  }

  .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    button {
      width: 100%;
      height: 2.6rem;
      text-align: center;
      font-size: .8rem;
      color: white;
      &.start-search {
        background: $mainComponBackGroundColor;
        &:active{
          background: #10ABB4;
        }
      }
    }
  }
}