.healthEntryFamily{
  width: 18.75rem;
  position: fixed;
  height:100%;
  top:0;
  bottom:0;
  overflow: auto;
  left:0;
  right:0;
  background: #fff;
  .body{
       padding-bottom: 3.2rem;
    .body_1{
      .body_11{
        height: 2rem;
        width: 18.75rem;
        .body_110{
          width: 18.75rem;
          height: 8.45rem;
          .img1{
            width:5.65rem;
            height:5.2rem;
            margin-left: 2.75rem;
            float: left;
            padding-top: 1.4rem;
          }
          .img2{
            width:6.05rem;
            height:6.05rem;
            margin-left: 1rem;
            padding-top: 1.2rem;
          }
        }
        .body_11_txt{
          width:5.65rem;
          height:1.25rem;
          font-size:0.9rem;
          font-family:PingFangSC-Regular;
          color:rgba(17,17,17,1);
          line-height:1.25rem;
          padding-left: 0.8rem;
          padding-top: 0.8rem;
        }
      }
      .body_12{
        // height: 14.4rem;
        width: 100%;
        margin-top: 0.5rem;
        .body_121{
          width:17.15rem ;
          height: 2.6rem;
          margin-left: 0.8rem;
          border-bottom: 0.05rem solid rgba(245,245,245,1);
          .body_1211{
            font-size:0.75rem;
            font-family:'PingFangSC-Regular';
            color:rgba(51,51,51,1);
            line-height:2.6rem;
            float: left;
          }
          .body_1212{
            font-size: 1.8rem;
            color:rgba(50,182,230,1);
            
          }
          .body_1213{
            font-size:0.75rem;
            font-family:'PingFangSC-Regular';
            color:rgba(50,182,230,1);
            line-height:2.6rem;
            float: right;
           
          }
        }
        .body_122{
          width:17.15rem ;
          height: 2.45rem;
          margin-left: 0.8rem;
          .body_1221{
            width:18rem;
            height:0.85rem;
            font-size:0.6rem;
            font-family:PingFangSC-Regular;
            color:rgba(179,179,179,1);
            line-height:2.45rem;
          }
          .body_231{
            width: 17.15rem;
          }
        }
      }
    }
    .body_2{
      .body_21{
        width:5.65rem;
        height:2.05rem;
        font-size:0.9rem;
        font-family:PingFangSC-Regular;
        color:rgba(17,17,17,1);
        line-height:1.25rem;
        padding-left: 0.8rem;
        padding-top: 0.8rem;
      }
      .body_22{
        width:17.15rem;
        height: 3.3rem;
        margin-left: 0.8rem;
        position: relative;
        border-bottom: 0.05rem solid rgba(245,245,245,1);
        .body_221{
          font-size:0.75rem;
          font-family:PingFangSC-Regular;
          color:rgba(51,51,51,1);
          line-height:2.3rem;
          padding-top: 0.45rem;
          float: left;
        }
        .body_222{
position: absolute;
right:0;top:1rem;
        }
      }
      .body_122{
        width:17.15rem ;
        height: 2.45rem;
        margin-left: 0.8rem;
        .body_1221{
          width:18rem;
          height:0.85rem;
          font-size:0.6rem;
          font-family:PingFangSC-Regular;
          color:rgba(179,179,179,1);
          line-height:2.45rem;
        }
        .body_231{
          width: 17.15rem;
        }
      }
      .body_24{
        width: 16.75rem;
        height: 7.2rem;
        margin-left: 1.2rem;
        word-break:break-all;
        display: table;
        .body_240{
          height: 2.4rem;
          .body_241{
            margin-right: 1.2rem;
            height:1.6rem;
            border-radius:0.8rem;
            border:0.05rem solid rgba(50,182,230,1);
            font-size:0.75rem;
            font-family:PingFangSC-Regular;
            color:rgba(50,182,230,1);
            line-height:1.05rem;
          }
          .body_242{
            margin-right: 1.2rem;
            height:1.6rem;
            border-radius:0.8rem;
            border:0.05rem solid rgba(50,182,230,1);
            font-size:0.75rem;
            font-family:PingFangSC-Regular;
            color:rgba(255,255,255,1);
            line-height:1.05rem;
            background:rgba(50,182,230,1);
          }
          .body_243{
            height:1.6rem;
            border-radius:0.8rem;
            border:0.05rem solid rgba(50,182,230,1);
            font-size:0.75rem;
            font-family:PingFangSC-Regular;
            color:rgba(50,182,230,1);
            line-height:1.05rem;
          }
        }
      }
      .body_25{
        width: 16.75rem;
        height: 6rem;
        margin-left: 1.2rem;
        word-break:break-all;
        display: table;
        .body_240{
          height: 2.4rem;
          .body_241{
            margin-right: 1.2rem;
            height:1.6rem;
            border-radius:0.8rem;
            border:0.05rem solid rgba(50,182,230,1);
            font-size:0.75rem;
            font-family:PingFangSC-Regular;
            color:rgba(50,182,230,1);
            line-height:1.05rem;
          }
          .body_242{
            margin-right: 1.2rem;
            height:1.6rem;
            border-radius:0.8rem;
            border:0.05rem solid rgba(50,182,230,1);
            font-size:0.75rem;
            font-family:PingFangSC-Regular;
            color:rgba(255,255,255,1);
            line-height:1.05rem;
            background:rgba(50,182,230,1);
          }
          .body_243{
            height:1.6rem;
            border-radius:0.8rem;
            border:0.05rem solid rgba(50,182,230,1);
            font-size:0.75rem;
            font-family:PingFangSC-Regular;
            color:rgba(50,182,230,1);
            line-height:1.05rem;
          }
        }
      }
    }
  }
   .bottom{
    width:18.75rem;
    height:2.6rem;
    text-align: center;
//  margin-top:1rem;
    position:fixed;
    bottom: 0;
    .bottom_text{
      font-size:0.8rem;
      width:18.75rem;
      font-family:'PingFangSC-Regular';
      color:#FFFFFF;
      line-height:2.6rem;
    }
    .bottom_text_bg{
         background:rgba(38,166,255,1);
    }
  }
}
